export PYTHONPATH=$PWD/src:$PWD/tests
export ENV=DEV
export SECRET_KEY=testkey
export SQLALCHEMY_DATABASE_URI=sqlite:///./scot4-test.db
export FIRST_SUPERUSER_PASSWORD='adminpassword'
export NO_PROXY=.sandia.gov
