<h1>SCOT Vulnfeed {{ vulnfeed.id }} : {{ vulnfeed.subject }}</h1>
        <table class="header_table">
            <tr>
                <th>
                    Owner
                </th>
                <td>
                    {{ vulnfeed.owner }}
                </td>
                <th>
                    Created
                </th>
                <td>
                    {{ vulnfeed.created }}
                </td>
                <th>
                    Status
                </th>
                <td>
                    {{ vulnfeed.status.value }}
                </td>
            </tr>
            <tr>
                <th>
                    TLP
                </th>
                <td>
                    {{ vulnfeed.tlp.value }}
                </td>
                <th>
                    Updated
                </th>
                <td>
                    {{ vulnfeed.modified }}
                </td>
                <th>
                    Views / Popularity
                </th>
                <td>
                    {{ vulnfeed.view_count }} / {{ vulnfeed.popularity_count }}
                </td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td colspan=4>
                    {% for t in vulnfeed.tags %}
                    {{ t.name }} &nbsp;
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Sources:</th>
                <td colspan=4>
                    {% for t in vulnfeed.sources %}
                    {{ t.name }} &nbsp;
                    {% endfor %}
                </td>
            </tr>
        </table>
